img[lazy=loading], .load {
  display: block;
  width: 100%;
  height: 100%;
  color: rgba(#fff, 0);
  background: linear-gradient(
      100deg,
      rgba(256, 256, 256, 0) 30%,
      rgba(256, 256, 256, 0.5) 50%,
      rgba(256, 256, 256, 0) 30%
    )
    #e9ecef;
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 2s loading ease-in-out infinite;
}

html.dark img[lazy=loading],
html.dark .load {
  background: linear-gradient(
      100deg,
      rgba(60, 60, 60, 0) 30%,
      rgba(60, 60, 60, 0.5) 50%,
      rgba(60, 60, 60, 0) 30%
    )
    #181818;
  color: rgba(#000, 0);
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 2s loading ease-in-out infinite;
}

@keyframes loading {
  to {
    background-position-x: -20%;
  }
}